@use '../../../styles/variables' as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .image-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    width: 100%;
    // max-width: 1000px;
    max-width: 900px;
    // max-height: 750px;
    max-height: 675px;
    aspect-ratio: 4 / 3;
    // background-color: gold; /* Optional: for visibility */
    display: flex;
    align-items: center;

    &__track {
      height: 100%;
      display: flex;
      // transition: transform 300ms ease;
      transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      will-change: transform;
    }

    &__img-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 auto;

      img {
        width: 100%;
        flex-shrink: 0;
        // object-fit: cover;

        &.portrait {
          width: auto;
          height: 100%;
        }
      }
    }

    &__navigation {
      width: 100%;
      margin-top: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;

      &-button {
        border: none;
        background-color: transparent;
        font-size: 1.4rem;
        color: $gray--davys;
        cursor: pointer;
        transition: color .3s ease-out;

        &:hover {
          color: $black--chinese;
        }
      }

      .counter {
        font-size: 1.4rem;
        color: $gray--davys;
        transition: color .3s ease-out;

         &:hover {
          color: $black--chinese;
        }
      }
    }
  }



  .left-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    height: 100%;
    cursor: pointer;
  }

  .right-area {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 100%;
    cursor: pointer;
  }
}
