@let _images = images();

<div
  class="image-slider"
  tabindex="0"
  role="region"
  aria-label="Image slider"
  (keydown)="onKeydown($event)"
>
  <div class="image-slider__track" [style.transform]="translateX()">
    @for (img of _images; track img.sys.id) {
      <div class="image-slider__img-wrapper">
        <img
          [src]="img.fields.file?.url"
          [alt]="img.fields.description || ''"
          loading="lazy"
          decoding="async"
          [class]="setOrientation(img.fields.file?.details)"
        />
      </div>
    }
  </div>

  <div class="left-area" (click)="prev()"></div>
  <div class="right-area" (click)="next()"></div>
</div>

<div class="image-slider__navigation">
  <button class="image-slider__navigation-button prev" aria-label="Back to previous photo" (click)="prev()"><<<</button>

  <div class="counter">
    <span>{{ current() + 1 }} / {{ _images.length }}</span>
  </div>

  <button class="image-slider__navigation-button next" aria-label="See next photo" (click)="next()">>>></button>
</div>

