@use '../../../../styles/variables' as *;

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  svg {
    z-index: -1;

    &:first-of-type {
      align-self: start;
      position: relative;
      left: -2.4rem;
    }
    &:last-of-type {
      align-self: end;
      position: relative;
      top: 2.4rem;
      right: -2.4rem;
    }
  }

  a {
    display: inline-block;
    margin-top: 2.4rem;
    border-radius: 4px;
    border: 1px solid $gray--davys;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    color: $black--chinese;
    text-decoration: none;
    transition: border .3s ease-out;
    will-change: border;;

    &:hover {
      border-color: $black--chinese;
    }
  }
}
