@use '../../../styles/variables' as *;

:host {
  footer {
    padding: 4.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;

    p {
      font-size: 1.2rem;
      color: $gray--davys;
    }

    .footer__social-media {
      z-index: 10;

      ::ng-deep app-icon svg {
        fill: $gray--davys;
        transition: fill .3s ease-out;

        &:hover {
          fill: $black--chinese;
        }
      }
    }
  }
}
