@use '../../../../styles/variables' as *;
@use '../../../../styles/media' as *;

:host {
  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;

    @include media-large-up {
      flex-direction: row;
      align-items: center;
      gap: 4.8rem;
    }
  }

  .about {
    &__description {
      margin-top: 2.4rem;

      ::ng-deep {
        p {
          color: $black--olive;

          &.contact {
            margin-top: 1.6rem;
          }
        }

        a {
          color: $gray--davys;
          text-decoration: underline;

          &:hover {
            color: $black--chinese;
          }
        }
      }
    }
  }
}
