@use './variables' as *;

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-optical-sizing: auto;
  font-style: normal;
  // letter-spacing: -0.125rem;
  color: #030303;
  font-display: swap;
}

body {
  color: $black--chinese;
}

h1, h2, h3, h4, h5, h6 {
  // font-size: 4.8rem;
  letter-spacing: -0.125rem;
  color: $black--rich;
}

h1 {font-size: 4.8rem;}
h2 {font-size: 4.2rem;}
h3 {font-size: 3.8rem;}
h4 {font-size: 3.2rem;}
h5 {font-size: 2.8rem;}
h6 {font-size: 2.2rem;}

p {
  font-size: 1.6rem;
  color: $black--olive;
}
