// COLORS
$black--chinese: #121212; // active link
$black--olive: #3a3a3a; // paragraph
$black--rich: #030303; // header
$gray--davys: #575858; // inactive link
$white: #ffffff;
$white--lotion: #fdfdfd;
