:host {
  width: 100%;
  max-width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;

  main {
    flex: 1 0 auto;
    display: flex;
  }
}
