<section>


  <!-- #TODO: update template with @defer @loading @error @placeholder -->

  <!-- @if (loading()) {
    <p>Loading...</p>
  } @else if (error()) {
    <p class="error">{{ error() }}</p>
  } @else {
    @for (post of posts(); track post.sys.id) {
      @for (img of post.fields.images ?? []; track img.sys.id) {
        <img [src]="'https:' + img.fields.file.url" [alt]="img.fields.description || ''" loading="lazy">
      }
    }
  } -->

  <h2>
    Hi, my name is Daniel. <br>
    View my photography portfolio to see <a [routerLink]="'/landscape'" aria-label="See my work">my work</a>.
  </h2>
</section>
