@use './styles/reset';
@use './styles/fonts';
@use './styles/variables' as *;
@use './styles/typography';

body {
  min-height: 100vh;
  background-color: $white--lotion;
}

a {
  // TODO: add outline color
}
